---
import GitHubIcon from '../icons/GitHubIcon.astro';
import LinkedinIcon from '../icons/LinkedinIcon.astro';
import XsocialMediaIcon from '../icons/XsocialMediaIcon.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const pageTitle = "Sobre mi";

const identity = {
  firstName: "Josemi",
  userName: "JosemiGT",
  country: "España",
  occupation: "Programador y desarrollador de soluciones MS Dynamics 365",
  hobbies: ["deporte", 
  			"leer", 
			"programar"],
};

const skills = ["C#", 
				"MS Dynamics 365", 
				"JavaScript", 
				"HTML", 
				"CSS", 
				"NodeJS", 
				"React", 
				"SQL-T",
				"Astro"];
---

<BaseLayout pageTitle={pageTitle}>
    <p>
		Soy Josemi, me dedico a programar desde hace más de 5 años, especialmente en soluciones de MS Dynamics 365 y en el entorno .Net de Microsoft. 
		Antes de ello, estudié ingeniería de organización industrial, por lo que me gusta la tecnología desde diferentes aspectos.
	</p>
      
	<p>
		Algunos datos sobre mí:
	</p>

	<ul>
		<li> Vivo en {identity.country}.</li>
		<li> Trabajo como {identity.occupation}.</li>
		{identity.hobbies.length > 0 &&
			<li> Algunas de mis aficiones son: {identity.hobbies.join(", ")} ...</li>
		}
	</ul>

	<p>Algunas tecnologías con las que he trabajado son:</p>

	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>

	<div class="social-icons">
		<p>Puedes encontrarme en los siguientes sitios:</p>
		<GitHubIcon username={identity.userName} />
		<XsocialMediaIcon username={identity.userName} />
		<LinkedinIcon username={identity.userName} />
	</div>
	
	<p>
		Este sitio web ha sido construido con Astro, puedes consultar su código fuente <a target="_blank" href="https://github.com/JosemiGT/josemigt-blog">aquí</a>.
	</p>
</BaseLayout>

<style>
	.social-icons{
		display: flex;
		justify-content: left;
		gap: 0.5rem;
		align-items: center;
	}
</style>