---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from "../components/BlogPost.astro";
const pageTitle = 'JosemiGT-blog';
const allPosts = await getCollection("posts");
---

<BaseLayout pageTitle={pageTitle}>
	<p>Bienvenidos a este modesto sitio. Donde hablo de tecnología y mis aprendizajes.</p>
	<br/>
	{allPosts.reverse().map((post) => 
		<BlogPost 
			url={`/posts/${post.slug}`} 
			title={post.data.title} 
			pubDate={post.data.pubDate} 
			description={post.data.description} />)}
</BaseLayout>