---
import Tag from '../components/Tag.astro';
import BaseLayout from './BaseLayout.astro';
import type { CollectionEntry } from 'astro:content';
type Props = CollectionEntry<'posts'>['data'];
const {title, description, author, image, pubDate, tags} = Astro.props;
---

<BaseLayout pageTitle={title}>
  <header class="postHeader">
    <p>{pubDate.toLocaleString("es-ES").split(',')[0]}</p>
    <img src={image?.url} width="300" alt={image?.alt} />
    <p><em>{description}</em></p>
    <p>Escrito por: {author}</p>
    <div class="tags">
        {tags?.map((tag) => (
          <Tag tag={tag}/>
        ))}
      </div>
  </header>
  <br />
  <slot />
</BaseLayout>

<style>
  .postHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

</style>