---
import BaseLayout from './BaseLayout.astro';
import type { CollectionEntry } from 'astro:content';
type Props = CollectionEntry<'posts'>['data'];
const {title, description, author, image, pubDate, tags} = Astro.props;
---

<BaseLayout pageTitle={title}>
  <p>{pubDate.toLocaleString("es-ES").substring(0,10)}</p>
  <p><em>{description}</em></p>
  <p>Escrito por: {author}</p>
  <img src={image?.url} width="300" alt={image?.alt} />
  <div class="tags">
      {tags?.map((tag) => (
        <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>

  <slot />
</BaseLayout>

<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>