---
import ScrollTopButton from '../components/ScrollTopButton.astro';
import TagCard from '../components/TagCard.astro';
import BaseLayout from './BaseLayout.astro';
import type { CollectionEntry } from 'astro:content';
type Props = CollectionEntry<'posts'>['data'];
const {title, description, author, image, pubDate, tags} = Astro.props;
---

<BaseLayout 
  title="Blog de JosemiGT | Programación, dotNet, C#, JavaScript, Dynamics 365"
  pageDescription={description}
  pageTitle={title}
  >
  <header class="postHeader">
    <p>{pubDate.toLocaleString("es-ES").split(',')[0]}</p>
    {image && image?.url &&
      <div class="container">
        <img src={image?.url} width="300" alt={image?.alt} />
      </div>
    }
    <p><em>{description}</em></p>
    <p>Escrito por: {author}</p>
    <div class="tags">
        {tags?.map((tag) => (
          <TagCard tag={tag} color="secondary"/>
        ))}
      </div>
  </header>
  <br />
  <slot />
</BaseLayout>

<style>
  .postHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .container {
    display: flex;
    justify-content: center;
    padding: 2%;
    border: 1cm;
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
    border-color: #2A3B47;
    background-color: #212E36;
  }

</style>